[submodule "platforms/web/site/themes/book"]
	path = platforms/web/site/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "core/deps/llama.cpp"]
	path = core/deps/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "core/deps/whisper.cpp"]
	path = core/deps/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
